streamlit
langchain
langchain-community
langchain-groq
crewai
crewai-tools
chromadb
sentence-transformers
transformers
huggingface-hub
bertopic
umap-learn
scikit-learn
plotly
networkx
pyvis
arxiv
semanticscholar
boto3
pandas
numpy
reportlab
groq
tqdm
python-dotenv